/*********ADD USER FORM PAGE MEDIA QUERY***********/
@media (min-width:1201px ){
	.bg_box{
		width: 100%;
		overflow-x: hidden;
		margin-top: 70px;
	}

}

@media (max-width:1200px ){
	.bg_box{
		width: 100%;
		overflow-x: hidden;
		margin-top: 50px;
	}

}

@media (max-width:992px ){
.bg_box{
	width: 100%;
	margin-top: 0px ;
}
.add_user_wrapper{
	margin-top: 0px ;
}
.add_user_inner {
    padding: 15px 50px 52px 50px;
}
.save_btn_display{
	width: 100%;
    
}
h1{
	margin: 0px !important;
	padding: 0px !important;
}
}


@media (max-width:767px ){
	.add_user_inner{
	box-shadow: none;

}
.add_user_wrapper{
	margin-top: 0px;
}
.bg_box {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.save_btn_display{
	width: 100%;
    
}
h1{
	margin: 0px !important;
	padding: 0px !important;
}
}

@media (max-width:580px ){

.bg_box {
     width: 100%; 
 	margin-top: 0px !important;
 	margin-bottom:0px !important;
}
.add_user_inner{
	box-shadow: none;
	
}
#input_color label{
	font-size: 14px;
}
.save_btn_display{
	width: 100%;
    
}
h1{
	margin: 0px !important;
	padding: 0px !important;
}

}
/*********************END ADD USER FORM PAGE MEDIA QUERY***********************/
